
ion-content {
	background: pink;
}

page-home {
	
	ion-slides {

	}

	.enclosing {
		height: 100%;
		width: 100%;
	}

	.img-profile{
		border-radius:50%;
		width: 100px;
		height: 100px;
		margin: auto;
		padding: 10px 10px 10px 10px;
	}
	.div-profile{
		text-align: center;
	}

	.div-logout{
		text-align: center;
	}

	padding-3p {
		padding: 10px 10px 10px 10px;
	}
}
